.App {
  text-align: center;
}

.projectDisplay {
  background-color:rgb(145)
}
  body {
  background-image: url('/images/mag-pole-105542-unsplash.jpg');
  background-size: cover;
  color: rgb(211, 193, 193);
}

.App-header {
  background-color: rgb(231, 231, 231);
  height: 40px;
  padding: 20px;
  color: rgb(35, 107, 129);
}

.App-title {
  font-size: 3.0em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
