.App {
  text-align: center;
}

.adminList{
  text-align: center;
  background-color: rgb(231, 231, 231);
  height: 65px;
  padding: 78px;
  color: rgb(35, 107, 129);
  font-size: large;
  display: inherit

}
.projectDisplay{
  height: 40px;
  padding: 20px;
  color: rgb(241, 255, 41);
  text-align: center;
}

.table{
  text-align: center;
  list-style: inside;
}

.projectDisplay {
  background-color:rgb(145)
}
  body {
  background-image: url('/images/simone-hutsch-1142161-unsplash.jpg');
  background-size: cover;
  color: rgb(211, 193, 193);
}

.App-header {
  height: 40px;
  padding: 20px;
  color: rgb(241, 255, 41);
}

.App-title {
  font-size: 3.0em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
