.App {
  text-align: center;
}

.projectDisplay {
  background-color:rgb(145, 155, 116)
}
  

.App-header {
  background-color: rgb(153, 153, 127);
  height: 70px;
  padding: 20px;
  color: rgb(245, 245, 245);
}

.App-title {
  font-size: 3.0em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
